@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #F5F0E1; /* cream */
  color: #333333; /* charcoal */
  font-family: 'Lato', sans-serif;
}
html {
    scroll-behavior: smooth;
}